.box-content{
    display: flex;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
}

.parent {
    position: relative;
    min-height: 200px;
}

.child {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

@media screen and (max-width: 600) {
    .parent {
        position:relative;
        height: 200px;
    }
}